$white: #fff;

$dark: #615e69;
$darkest: #34303e;

$primary: #4d77ff;
$primary-hover: #3363ff;
$primary-active: #0030cc;
$primary1: #e6ecff;

$neutral: #e8e8ea;
$neutralLight: #f9f9f9;
$neutralDark: #d2d1d4;

$download: #1bd2a4;
$downloadLight: #d2fbf0;
$downloadDark: #18ba92;

$like: #dc2425;
$likeLight: #fdd4d4;
$likeDark: #c32021;

$border: 12px;

@keyframes fade-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 900px;
  }
}
