$white: #fff;

$dark: #615e69;
$darkest: #34303e;

$primary: #4d77ff;
$primaryActive: #3363ff;
$primaryLight: #e6ecff;

$neutral: #e8e8ea;
$neutralLight: #f9f9f9;
$neutralDark: #d2d1d4;

$download: #1bd2a4;
$downloadLight: #d2fbf0;
$downloadDark: #18ba92;

$like: #dc2425;
$likeLight: #fdd4d4;
$likeDark: #c32021;

$border: 12px;

@keyframes gradient-motion {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
