@import "variables";

.App {
  display: flex;
}

.container {
  padding: 15px;
  width: calc(100% - 300px);
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.gif-grid {
  display: flex;
  flex-wrap: wrap;
}
