@import "variables";

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 300px);
  height: 100vh;
  line-height: 1;
  overflow: hidden;
  &-title {
    color: $primary;
    font-size: 96px;
    margin: 0 0 10px 0;
  }
  &-text {
    margin: 0;
    font-weight: 700;
  }
}
