@import "variables";

.home {
  height: 100vh;
  width: calc(100% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-gif {
    border-radius: 50%;
    height: 20vmax;
    width: 20vmax;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .home {
    height: calc(100vh - 62px);
    width: 100%;
    &-gif {
      height: 60vmin;
      width: 60vmin;
    }
  }
}
