@import "variables";

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 35px 0;
  overflow: hidden;
  &-circle {
    height: 60px;
    width: 60px;
    border-width: 6px;
    border-style: solid;
    border-color: $primary $primary $primary rgba($color: $white, $alpha: 0.2);
    border-radius: 50%;
  }
}
